
/*карточки*/
.book-world__collection {
	position: fixed;
	left: 271px;
	right: 0;
	bottom: 0; 
	/*z-index: 1;
 	width: 882px;	*/
 	height: 479px;
	background: white;
	box-shadow: 9px -1px 33px -21px #000000;
	padding: 25px;
	transition: margin-bottom 0.5s ease-in-out;
	-webkit-transition: margin-bottom 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: margin-bottom 0.5s ease-in-out; /** Firefox **/
    -o-transition: margin-bottom 0.5s ease-in-out; /** Opera **/
}

.book-world__collection[data-hidden] {
	margin-bottom: -479px;
}

.collection__header {
	position: relative;
	min-width: 880px;
	display: flex;
	margin-bottom: 31px;
}

.collection__img{
	position: absolute; 
	margin-right: 19px;	
}

.collection__name{
	margin-left: 30px;
	font-family: PT Sans;
	font-size: 24px;
	min-width: 605px;
	color: #26A9E0;
	font-weight: bold;
}

.collection__link {
	font-family: Roboto;
	font-size: 16px;
	line-height: 23px;
	color: rgba(0, 0, 0, 0.3);
}

.collection__close {
	margin-left: 55px;
	cursor: pointer;
}

.collection__books {
	display: flex;
}