/*карта*/
.book-world__map {
	/*width: 100%;
	margin: 0 auto;*/
}
#book-map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*width: 1152px;
	margin: 0 auto*/;		
}

#book-map.map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}